/* ALL BUTTON */
.all-button
  padding: 20px 55px
  height: 60px
  color: $color-grey
  background-color: $second-blue
  border-radius: 10px
  font-size: 15px
  text-decoration: none;

.all-button:hover
  background-color: $first-blue
  color: $color-grey
  transition: 0.5s
  text-decoration: none
