//- BEGIN FOOTER
                
footer
    .col-md-12.footer-end
                     
        //- FIRST FOOTER
        .col-md-4.list-footer.footer-border-right
            ul
                li
                    a(href='#') Accueil
                li
                    a(href='#') Connexion
                li
                    a(href='#') Inscription Recruteur
                li
                    a(href='#') Inscription Demandeur
                     
        //- SECOND FOOTER
        .col-md-4.list-footer.footer-border-right
            ul
                li
                    a(href='#') Qui Sommes-Nous ?
                li
                    a(href='#') Contact
                li
                    a(href='#') FAQ
                li
                    a(href='#') Termes & Conditions
                        
        //- THIRD FOOTER
        .col-md-4.second-footer
            p © Copyright, 2016 Team ...
                
//- END FOOTER
                
                

