//- BEGIN NAVBAR

header
  .col-md-12.navbar-head      
      //- CONTENT LOGO 
      .col-md-10.logo
          a(href='/')
              img.img-responsive(src='public/images/logo-simple-job.svg', alt='Logo')
      //- CONTENT CONNEXION
      .col-md-2.connexion
          a(href='#') Connexion

//- ENDING NAVBAR