//- BEGIN NAVBAR

header
  .col-md-12.navbar-head      
      //- CONTENT LOGO 
      .col-md-10.logo
          a(href='index.html')
              img.img-responsive(src='public/images/Logo.jpg', alt='Logo')
      //- CONTENT CONNEXION
      .col-md-2.connexion
          button(type='button', data-toggle='modal', data-target='#myModal')
            | Connexion

//- ENDING NAVBAR