extends layout 
block content

  //- BEGIN FORMULAIRE 
  form(action='/espaceDemandeur', method="post", id="form_1")

    //- FULL PAGE - 2 PARTIES - INFO PERSO - TEST COMPETENCE
    .col-md-12.full-page-inscription

      //- BLOCK INFORMATIONS PERSONNELLES
      .col-md-12.block-info-perso

        //- TITLE FORMULAIRE
        .col-md-offset-2.col-md-8.title-formulaire
          h3 Informations Personnelles
          p Veillez à bien remplir tous les champs

        //- CONTENT FULL
        .col-md-12.content-full

          //- ITEMS GUIDAGE USER
          .col-md-1.items-guidage-user
            p#item-active 1
            p 2 
            P 3

          //- BEGIN CONTENT FORMULAIRE 
          .col-md-11.espace-formulaire

            //- CONTENT FORMULAIRE LEFT
            .col-md-6.content-form
              //- CHAMPS DU FORMULAIRE 
              ul            
                li
                  label(for='name') Nom :
                  input(name='name', type='text' placeholder='Nom')          
                li
                  label(for='prenom') Prénom :
                  input(name='prenom', type='text' placeholder='Prénom')          
                li
                  label(for='Adresse') Adresse :
                  input(name='Adresse', type='text' placeholder='Adresse')
                li
                  label(for='ville') Ville :
                  input(name='ville', type='text' placeholder='Ville')
                li
                  label(for='code_postal') Code Postal :
                  input(name='code_postal', type='text' placeholder='Code Postal')

            //- CONTENT FORMULAIRE RIGHT 
            .col-md-6.content-form
              //- CHAMPS FORMULAIRE
              ul
                li
                  label(for='telephone') Téléphone :
                  input(name='telephone', type='tel' placeholder='Téléphone')
                li
                  label(for='email') E-mail :
                  input(name='email', type='email' placeholder='E-mail')
                li
                  label(for='mot_de_passe') Mot de passe :
                  input(name='mot_de_passe', type='password' placeholder='Mot de passe')
                li
                  label(for='mot_de_passe2') Confirmation mot de passe :
                  input(name='mot_de_passe2', type='password' placeholder='Mot de passe')

          //- BUTTON END FORM 
          .col-md-offset-3.col-md-6.button-end-form

            //- BUTTON RETOUR
            .col-md-6.zone-button
              a.all-button(href="/") Retour

            //- BUTTON SUIVANT 
            .col-md-6.zone-button
              a#click-suivant-info.all-button(href="#") Suivant

      //-----------------------------------------------------//

      //- BLOCK TEST DE COMPETENCES 
      .col-md-12.block-test-competences

        //- TITLE FORMULAIRE
        .col-md-offset-2.col-md-8.title-formulaire
          h3 Test De Compétences
          p Veillez à bien remplir tous les champs

        //- CONTENT FULL
        .col-md-12.content-full

          //- ITEMS GUIDAGE USER
          .col-md-1.items-guidage-user
            p 1
            p#item-active 2 
            P 3

          //- BEGIN CONTENT TEST DE COMPETENCES
          .col-md-11.espace-formulaire

            //- CONTENT FORMULAIRE LEFT
            .col-md-6.content-form
              //- CHAMPS DU FORMULAIRE 
              //-ul            
                li
                  label(for='name') Nom :
                  input(name='name', type='text' placeholder='Nom')          
                li
                  label(for='prenom') Prénom :
                  input(name='prenom', type='text' placeholder='Prénom')          
                li
                  label(for='Adresse') Adresse :
                  input(name='Adresse', type='text' placeholder='Adresse')
                li
                  label(for='ville') Ville :
                  input(name='ville', type='text' placeholder='Ville')
                li
                  label(for='code_postal') Code Postal :
                  input(name='code_postal', type='text' placeholder='Code Postal')

            //- CONTENT FORMULAIRE RIGHT 
            .col-md-6.content-form
              //- CHAMPS FORMULAIRE
              //-ul
                li
                  label(for='telephone') Téléphone :
                  input(name='telephone', type='tel' placeholder='Téléphone')
                li
                  label(for='email') E-mail :
                  input(name='email', type='email' placeholder='E-mail')
                li
                  label(for='mot_de_passe') Mot de passe :
                  input(name='mot_de_passe', type='password' placeholder='Mot de passe')
                li
                  label(for='mot_de_passe2') Confirmation mot de passe :
                  input(name='mot_de_passe2', type='password' placeholder='Mot de passe')

          //- BUTTON END FORM 
          .col-md-offset-3.col-md-6.button-end-form

            //- BUTTON RETOUR
            .col-md-6.zone-button
              a#click-retour-test.all-button(href="#") Retour

            //- BUTTON SUIVANT 
            .col-md-6.zone-button
              a.all-button(href="#") Suivant







